.container{
    display: flex;
    align-content: space-around;
}
.container-pizza{
    width: 250px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px 4px gray;
    background-color: cornsilk;
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    padding: 8px;
}

.container-pizza:hover{
    box-shadow: 0 0 10px gainsboro;
}

.name{
    color: tomato;
}

.container-item-pizza{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}